@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
section{
    width: 100%;
    height:100vh;
}
#first{
    background: #001130;
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 10vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10em;

}


header .navtext ul{
    width: 100%;
}
header .navtext ul li{
    display: inline-block;
    margin-left: 27px;
    list-style: none;
}
header .navtext ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(83, 83, 83);
    position: relative;
    font-size: 13px;
    padding: 0 8px;
}
header .navtext ul li a::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
header .navtext ul li a:hover::after{
    width: 100%;
}
header .navtext ul li a:hover{
    color: #000;
}
header .navtext ul li .active{
    color: #000;
}
header .navtext ul li .active::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    margin-left: 24px;
    width: 35%;
    bottom: -10px;
    transition: 0.4s;
}
header .navtext ul li .active:hover::after{
    width: 35%;
}
#first .container{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 70%;
    width: 100%;
}

.tophead{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.tophead .head p{
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 400;
}
.border{
    border: 0.5px solid #f02929;
    width: 100%;
    margin-bottom: 40px;
}
.para p{
    margin-left: 18%;
    width: 75%;
    text-align: right;
    font-size: 20px;
}

/* Second section */
#second{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 15px;
    font-family: 'Times New Roman', Times, serif;
}
#second .container-2{
    background: url(../assets/1.jpeg);
    width: 100%;
    height: 63vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 7rem;

}
.tophead-2{
    width: 36%;
    color: #fff;

}
.tophead-2 .head-2{
    font-size: 33px;
    font-weight: lighter;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.tophead-2 .head-2{
    font-family: 'Times New Roman', Times, serif;
}
.tophead-2 .border-2{
    /* border: 0.1pt solid rgb(173, 173, 173); */
   background: #fff;
   height: 0.2mm;
   margin-bottom: 20px;
}
.para-2{
    width: 36%;
    color: #ffffff;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 400;
    
}
.para-2 .first-para{
    margin-bottom: 20px;
    line-height: 23px;

}
.para-2 p:nth-child(2){
    line-height: 23px;
    
}